/* Utility */
.mt-20 {
  margin-top: 20px;
}
.mr-20{
  margin-right: 20px;
}
.pr-1{
  padding-right: 1rem;
}
.pl-1{
  padding-left: 1rem;
}
/* /Utility */
body {
  font-style: sans-serif;
}
/* Header */
header {
  height: 650px;
  position: relative;
  background-image: url(../img/heroimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* navbar */
nav {
  height: 80px;
  line-height: 80px;
  background-color: white;
}
.header-logo {
  max-width: 120px;
}
#navbar a {
  text-decoration: none;
  padding: 0 7px;
  text-transform: uppercase;
  color: black;
}
.header-menu {
  text-align: right;
}
.header-lang li{
  list-style: none;
  display: inline;
}
.header-lang li:not(:last-child) a{
  border-right: 1px solid black;
}
/* /navbar */
/* Hero img and text */
.hero-text{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.hero-text h1{
  font-size: 3rem;
}
.hero-text p{
  margin: 20px 0 30px 0;
}
.hero-text img{
  height: 70px;
}
/* /Hero img and text */
/* /Header / */

/* Main / */
.tmodel{
  padding: 2rem;
}
.tmodel .card{
  text-align: center;
  background-color: #fafafa;
}
.tmodel .card img{
  width: 100%;
}
.tmodel .card p{
  margin: 20px;
  font-size: 1.5em;
}
.tmodel .card a{
  text-decoration: none;
  color: blue;
}
.col-xl-6 img:nth-child(1) {
  max-width: 50%;
  margin-bottom: 20px;
  margin-top: 60px;
}
/* how  */
.fluid-main-text {
  text-align: center;
}
.img-fluid {
  height: 500px;
  background-image: url(../img/sfondou.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 7%;
  min-width:1170px;
}
.fluid-main-text img{
  width: 300px;
  transform: translateY(10%);
  margin-bottom: 100px;
}
.fluid-main-text h4{
  margin-top: 550px;
}
.fluid-main-text h1{
  margin-top: 550px;
}

.smart-img {
  position: relative;
}
.img-smart {
  width: 100%;
}
.text-img-smart {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  color: white;
  line-height: 70px;
}
.text-img-smart a{
  text-decoration: none;
  color: white;
}
.text-img-smart h1{
  font-size: 2em;
}
.text-img-smart h3{
  font-size: 1em;
}
